// # BODY CONTENT #
body {
    background-image: url("../img/background2.png");
}

// # FONT MANAGING #
.title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 25pt;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
}

// # BOXES #
.box {
    background-color: rgba(0, 0, 0, 0.788);
    border: 3px black solid;
    color: whitesmoke; 
}

// # ROWS #
.rowMain {
    margin-top: 1rem;
}

// ===========================================================//

// # LEFT WINDOW #
// Row n°1:
.leftTitleRow {
    background-image: url("../img/titleBg.png");
    border: 3px solid #883412;
    width: 110%;
    height: 100px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

// # CENTER WINDOWS #
// Row n°1: Jumbotron
.jumbotron {
    background-image: url("../img/jumbotron.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 8rem;
    width: 100%;
    border: 3px solid #000000;
    .jumbotronText {
        background-color: rgb(0, 0, 0);
        border: 3px solid #883600;
        border-radius: 10% / 90%;
        color: rgb(255, 145, 0);
        font-size: 12pt;
    }
}

// Row n°2: Poo Image
.imagePoo {
    background: transparent;
    height: 300px;
    width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

.btnPoo {
    font-family: arial;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    margin-bottom: 6rem;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    position: relative;
    height: 120px;
    width: 20px;
    :before {
        content: '';
        width: 100%;
        height: 100%;
        background: #009688;
        opacity: .5;
        top: 100;
        left: 0;
        z-index: -1;
        transition: .3s;
    }
    :after {
        content: '';
        width: 100%;
        height: 100%;
        background: #009688;
        top: 100;
        left: 0;
        z-index: -1;
        transition: .3s;
        transition-delay: .2s;
    }
    :hover {
        color: #fff;
    }
    :hover:before {
        top: 0;
    }
    :hover:after {
        top:0;
    }
}
// Row n°3: Scoring div
.scoring {
    padding: 2rem;
    margin: 2rem 2rem 2rem 2rem;
    border: 8px rgb(139, 0, 0) solid;
    border-radius: 20%;
    background-image: url("../img/scoreBg.png");
    color: white;
    font-weight: bolder; 
    width: 13rem;
    text-align: center;
}

// # RIGHT WINDOW #
// Row n°1:
.rightTitleRow {
    background-image: url("../img/titleBg.png");
    border: 3px solid #883412;
    width: 110%;
    height: 100px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

//Row n°2:
.list-group-item {
    background-image: url("../img/titleBg.png");
    border: whitesmoke solid 3px;
}

.boostMenu {
    font-family: arial;
    text-transform: uppercase;
    font-size: 20px;
    width: 240px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 3px solid #ffffff;
    display: block;
    text-decoration: none;
    color: #000000;
    background-color: grey;
    position: relative;
    /*overflow: hidden;*/
    transition: .3s;
}

.BoostsBtn {
    font-family: arial;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    border: 3px solid #000000;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-decoration: none;
    font-weight: bolder;
    color: #ffffff;
    background-image: url("../img/boostsBtnBg.png");
    position: relative;
    padding: 0.5rem;
    :hover {
        text-decoration: none;
    }
}

.dropdown-menu {
    padding: 0.5rem;
    background-image: url("../img/boostsMenuBg.png");
}

.dropdown-header {
    background-image: url("../img/titleBg.png");
}
